@import "tailwindcss";

/* *, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.markdown-preview {
  line-height: 1.8;
}

.markdown-preview hr {
  margin: 10px 0;
}

.markdown-preview p,
.markdown-preview li {
  line-height: 1.8;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  line-height: 1.4;
}